@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="background">
        <img src="~/images/background.jpeg" style="display:block;margin-left:auto;margin-right:auto;width=50%;max-height:80%;max-width:80%" />  
    </div>