@page
@model PrivacyModel
@{
    ViewData["Title"] = "Developers";
}
<h1>@ViewData["Title"]</h1>

<p>Created by: </p>
<div class="parts">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/roni.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Roni Khizverg
                <small>208602961</small></h5>
        </div>
    </div>
    <div class="card" style="width: 15.2rem;">
        <img class="card-img-top" src="~/images/or.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Or Amram
            <small>316283696</small></h5>
        </div>
    </div>
</div>